.carrossel {
    width: 100%; /* Ajusta a largura do carrossel */
    margin: 0 auto; /* Centraliza o carrossel na tela */
}
  
.quadrado {
    background-color: #f3f4f6; /* Cor de fundo dos quadrados */
    border: 2px solid #e5e7eb; /* Borda ao redor do quadrado */
    border-radius: 2px; /* Bordas arredondadas */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}
  
.imagem {
    width: 100%; /* Ajusta a largura da imagem ao tamanho do quadrado */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 2px; /* Bordas arredondadas para a imagem */
}
  
.titulo {
    margin-top: 8px; /* Espaçamento entre imagem e título */
    font-size: 1rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Deixa o título em negrito */
    color: #374151; /* Cor do texto */
}