
.containerNews{
    padding: 30px;
    margin-left: 13px;
}

.containerNews .fundo_texto{
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    bottom: 69px;
    width: 225px;  
}

.containerNews .fundo_texto .titleNews{
    font-size: 20px;
    font-weight: bold; 
    letter-spacing: 2px; 

}

.containerNews .fundo_texto .textNews{
    font-size: 15px;
    letter-spacing: 2px; 

}

